<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar" >
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <h1 class="example-app-name">Personas / Preferencias</h1>

    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px">
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/personas" style="cursor: pointer">
                <mat-icon>people</mat-icon>
                <span>Personas</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/preferencias" style="cursor: pointer">
                <mat-icon>category</mat-icon>
                <span>Preferencias</span>
            </button>       
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>